.card {
	border-radius: 20px;
	overflow: hidden;
	background-color: cornsilk;
}

.card-image {
	position: relative;
	border-radius: 20px;
	background-color: #0000008c;
	padding: 10px;
}

.card-image img {
	display: block;
	aspect-ratio: 4/3;
	margin: auto;
	border-radius: 20px;
	width: 100%;
}
.card-describe{
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 20px;
	color:white;
	font-size: 1.1rem;
	border-radius: 20px;
	line-height: 2rem;
	overflow: auto;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}
h4{
	margin: 5px 0;
	text-transform: uppercase;
}
.card-image:hover .card-describe,
.card-image:focus-visible .card-describe{
	opacity: 1;
}

.card-recipe{
	display: grid;
	gap:10px;
	padding: 10px;
}

.describe{
  padding-top: 10px;
	margin-bottom: 20px;
  white-space: break-spaces;
}

.centered {
  border: 2px solid #a1c2e0;
	padding: 10px;
  background-color: var(--bg-table-recipe);
	border-radius: 20px;
	color: var(--color-text);
}

.centered tr th{
	text-align: left;
	padding: 5px 10px;
	border-bottom: 2px solid var(--color-text);
}

.centered tbody{
	padding: 0 10px;
}
.card-title{
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	margin: 2rem 0 1.5rem;
	text-transform: uppercase;
}

.title-recipe{
	margin: 2rem 0 1.5rem;
	font-size: 1.5rem;
	font-weight: 600;
}

iframe{
  max-width: 100%;
}

.card-describe::-webkit-scrollbar-track {
	background-color: cornsilk;
}