.card {
	position: relative;
	min-width: 250px;
	max-height:fit-content;
	overflow: hidden;
	border-radius: 20px;
	transition: all 0.3s ease-in;
}


.card-content {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-transform: uppercase;
	font-size: 2rem;
	opacity: 0;
}

.card:hover .card-content {
	opacity: 1;
	transition: opacity 0.3s ease-in;
}

.card-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.link {
	position: absolute;
	inset: 0;
}

.link:hover,
.link:focus-visible {
	background-color: rgba(0, 0, 0, 0.5);
}

.link::before {
	content: 'watch recipe';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
	padding: 5px;
	width: max-content;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	color: white;
	text-transform: uppercase;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

.link::after {
	content: attr(data-title);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 50%);
	display: inline-block;
	padding: 5px;
	width: max-content;
	max-width: 90%;
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

.link:hover::before,
.link:focus-visible::before,
.link:hover::after,
.link:focus-visible::after {
	opacity: 1;
}

