.list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 1rem;
}

.title-search{
	color: var(--color-text);
	text-align: center;
	margin-top: 20%;
	font-size: clamp(1.5rem, 2.5vw, 3rem);
}